<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>avatar_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>avatar_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>avatar_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>avatar_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>avatar_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>avatar_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,117},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>avatar_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,234},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>avatar_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,117},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>avatar_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,234},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>avatar.png</string>
      <key>size</key>
      <string>{351,351}</string>
      <key>textureFileName</key>
      <string>avatar</string>
    </dict>
  </dict>
</plist>
