<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Fish_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{133,76}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{133,76}}</string>
        <key>sourceSize</key>
        <string>{136,86}</string>
      </dict>
      <key>Fish_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{114,56}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,15},{114,56}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Fish_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,56},{113,82}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{113,82}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Fish_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,76},{112,57}}</string>
        <key>offset</key>
        <string>{0,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,18},{112,57}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Fish_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,133},{102,71}}</string>
        <key>offset</key>
        <string>{3,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,8},{102,71}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>Fish_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,138},{102,47}}</string>
        <key>offset</key>
        <string>{-1,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,27},{102,47}}</string>
        <key>sourceSize</key>
        <string>{116,91}</string>
      </dict>
      <key>Fish_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,185},{99,63}}</string>
        <key>offset</key>
        <string>{5,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,4},{99,63}}</string>
        <key>sourceSize</key>
        <string>{121,86}</string>
      </dict>
      <key>Fish_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{90,72}}</string>
        <key>offset</key>
        <string>{4,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,10},{90,72}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Fish.png</string>
      <key>size</key>
      <string>{247,276}</string>
      <key>textureFileName</key>
      <string>Fish</string>
    </dict>
  </dict>
</plist>
