<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>countdown_pop_061.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{362,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{119,120},{362,360}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_085.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{356,356}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{122,122},{356,356}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_123.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{354,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{123,124},{354,352}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,360},{354,354}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{123,123},{354,354}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_171.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,0},{353,352}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{124,124},{353,352}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_060.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,353},{350,348}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{125,126},{350,348}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_150.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,716},{347,346}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{127,127},{347,346}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_122.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,716},{344,344}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{128,128},{344,344}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_086.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,714},{344,342}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{128,129},{344,342}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1062},{342,342}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{129,129},{342,342}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_059.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,1062},{336,336}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{132,132},{336,336}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_121.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,1060},{335,334}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{133,133},{335,334}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_087.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,0},{330,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{135,135},{330,330}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,330},{330,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{135,135},{330,330}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_151.png</key>
      <dict>
        <key>frame</key>
        <string>{{1064,660},{330,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{135,135},{330,330}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_170.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,1058},{330,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{135,135},{330,330}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_191.png</key>
      <dict>
        <key>frame</key>
        <string>{{1396,0},{326,288}}</string>
        <key>offset</key>
        <string>{-9,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{128,149},{326,288}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_192.png</key>
      <dict>
        <key>frame</key>
        <string>{{1396,326},{326,288}}</string>
        <key>offset</key>
        <string>{-9,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{128,149},{326,288}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_120.png</key>
      <dict>
        <key>frame</key>
        <string>{{1342,990},{326,324}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{137,138},{326,324}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_193.png</key>
      <dict>
        <key>frame</key>
        <string>{{1396,652},{326,288}}</string>
        <key>offset</key>
        <string>{-9,7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{128,149},{326,288}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_058.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1404},{324,324}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{138,138},{324,324}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,1404},{318,318}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{141,141},{318,318}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_088.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,1398},{318,316}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{141,142},{318,316}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_119.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,1395},{316,316}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{142,142},{316,316}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_152.png</key>
      <dict>
        <key>frame</key>
        <string>{{1274,1388},{314,313}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{143,143},{314,313}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_057.png</key>
      <dict>
        <key>frame</key>
        <string>{{1684,0},{312,310}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{144,145},{312,310}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1684,312},{309,308}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{146,146},{309,308}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_118.png</key>
      <dict>
        <key>frame</key>
        <string>{{1684,620},{308,306}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{146,147},{308,306}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_169.png</key>
      <dict>
        <key>frame</key>
        <string>{{1684,926},{308,307}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{146,146},{308,307}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{1668,1233},{306,306}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{147,147},{306,306}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_089.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1728},{304,304}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{148,148},{304,304}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_056.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,1728},{300,298}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{150,151},{300,298}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_117.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,1722},{298,298}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{151,151},{298,298}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_153.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,1716},{298,296}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{151,152},{298,296}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,1711},{294,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{153,153},{294,294}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_090.png</key>
      <dict>
        <key>frame</key>
        <string>{{1490,1702},{292,291}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{154,154},{292,291}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_116.png</key>
      <dict>
        <key>frame</key>
        <string>{{1993,312},{289,288}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{156,156},{289,288}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_194.png</key>
      <dict>
        <key>frame</key>
        <string>{{1994,0},{288,286}}</string>
        <key>offset</key>
        <string>{-28,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{128,151},{288,286}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_055.png</key>
      <dict>
        <key>frame</key>
        <string>{{1993,600},{288,286}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{156,157},{288,286}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_168.png</key>
      <dict>
        <key>frame</key>
        <string>{{1992,886},{286,285}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{157,157},{286,285}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{1992,1171},{283,282}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{159,159},{283,282}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_154.png</key>
      <dict>
        <key>frame</key>
        <string>{{1974,1453},{282,282}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{159,159},{282,282}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_091.png</key>
      <dict>
        <key>frame</key>
        <string>{{1781,1735},{280,279}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{160,160},{280,279}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_115.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2032},{280,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{160,160},{280,280}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_054.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,2032},{276,275}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{162,162},{276,275}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,2028},{272,272}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{164,164},{272,272}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_114.png</key>
      <dict>
        <key>frame</key>
        <string>{{1490,1994},{272,272}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{164,164},{272,272}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_092.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,2020},{268,268}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{166,166},{268,268}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_155.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,2005},{267,266}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{167,167},{267,266}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_167.png</key>
      <dict>
        <key>frame</key>
        <string>{{1762,2015},{266,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{167,168},{266,264}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_113.png</key>
      <dict>
        <key>frame</key>
        <string>{{2281,600},{264,263}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{168,168},{264,263}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_053.png</key>
      <dict>
        <key>frame</key>
        <string>{{2281,863},{264,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{168,168},{264,264}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{2282,0},{262,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{169,170},{262,260}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_093.png</key>
      <dict>
        <key>frame</key>
        <string>{{2282,260},{257,256}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{172,172},{257,256}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_112.png</key>
      <dict>
        <key>frame</key>
        <string>{{2278,1127},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{172,172},{256,256}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_156.png</key>
      <dict>
        <key>frame</key>
        <string>{{2275,1383},{254,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{173,174},{254,252}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_052.png</key>
      <dict>
        <key>frame</key>
        <string>{{2256,1635},{254,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{173,173},{254,254}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{2026,2015},{252,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{174,175},{252,250}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_166.png</key>
      <dict>
        <key>frame</key>
        <string>{{2276,1889},{246,246}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{177,177},{246,246}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_051.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2312},{244,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{178,178},{244,244}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_110.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,2312},{242,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{179,179},{242,242}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,2308},{242,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{179,179},{242,242}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_157.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,2300},{240,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{180,180},{240,240}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_095.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,2288},{238,237}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{181,181},{238,237}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_050.png</key>
      <dict>
        <key>frame</key>
        <string>{{2276,2135},{236,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{182,182},{236,236}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_109.png</key>
      <dict>
        <key>frame</key>
        <string>{{2026,2267},{236,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{182,183},{236,234}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{1205,2281},{234,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{183,183},{234,234}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_165.png</key>
      <dict>
        <key>frame</key>
        <string>{{1439,2281},{232,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{184,185},{232,230}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_108.png</key>
      <dict>
        <key>frame</key>
        <string>{{1669,2281},{230,229}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{185,185},{230,229}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_158.png</key>
      <dict>
        <key>frame</key>
        <string>{{2545,0},{230,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{185,185},{230,230}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_096.png</key>
      <dict>
        <key>frame</key>
        <string>{{2545,230},{230,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{185,186},{230,228}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_049.png</key>
      <dict>
        <key>frame</key>
        <string>{{2545,458},{228,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{186,186},{228,228}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{2545,686},{226,226}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{187,187},{226,226}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{2545,912},{226,226}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{187,187},{226,226}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_107.png</key>
      <dict>
        <key>frame</key>
        <string>{{2534,1138},{224,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{188,188},{224,224}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_048.png</key>
      <dict>
        <key>frame</key>
        <string>{{2534,1362},{222,221}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{189,189},{222,221}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_097.png</key>
      <dict>
        <key>frame</key>
        <string>{{2529,1583},{222,222}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{189,189},{222,222}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_159.png</key>
      <dict>
        <key>frame</key>
        <string>{{2522,1805},{222,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{189,190},{222,220}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{2522,2025},{220,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{190,190},{220,220}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_164.png</key>
      <dict>
        <key>frame</key>
        <string>{{2512,2245},{220,218}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{190,191},{220,218}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_106.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2556},{220,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{190,190},{220,220}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_098.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,2556},{216,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{192,192},{216,216}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,2554},{216,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{192,192},{216,216}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_047.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,2550},{216,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{192,192},{216,216}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,2540},{216,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{192,192},{216,216}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_160.png</key>
      <dict>
        <key>frame</key>
        <string>{{2262,2371},{214,214}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{193,193},{214,214}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_163.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,2526},{212,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{194,194},{212,212}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_099.png</key>
      <dict>
        <key>frame</key>
        <string>{{1296,2515},{212,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{194,194},{212,212}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_046.png</key>
      <dict>
        <key>frame</key>
        <string>{{1508,2513},{212,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{194,194},{212,212}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{1720,2511},{212,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{194,194},{212,212}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,2501},{210,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{195,195},{210,210}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_045.png</key>
      <dict>
        <key>frame</key>
        <string>{{2476,2463},{210,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{195,195},{210,210}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_161.png</key>
      <dict>
        <key>frame</key>
        <string>{{2775,0},{210,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{195,195},{210,210}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{2775,210},{210,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{195,196},{210,208}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_043.png</key>
      <dict>
        <key>frame</key>
        <string>{{2775,418},{210,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{195,195},{210,210}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{2773,628},{210,210}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{195,195},{210,210}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_044.png</key>
      <dict>
        <key>frame</key>
        <string>{{2771,838},{208,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{196,196},{208,208}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{2771,1046},{208,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{196,196},{208,208}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>countdown_pop_162.png</key>
      <dict>
        <key>frame</key>
        <string>{{2758,1254},{208,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{196,196},{208,208}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture-1.png</string>
      <key>size</key>
      <string>{2985,2776}</string>
      <key>textureFileName</key>
      <string>texture-1</string>
    </dict>
  </dict>
</plist>
